<footer id="colophon" class="site-footer-container" role="contentinfo">         
  <div class="site-footer"> 
    <div class="site-footer__utilities-menu">
      <div class="menu-footer-2017-container">
        <ul id="utilities-menu" class="menu">
        {% for item in site.data.footer-links %}
          <li><a href="{{ item.link }}">{{ item.name }}</a></li>
        {% endfor %}
        </ul>
      </div>				
    </div>
    <div class="site-footer__social-media-menu"> 
      <div class="menu-social-media-container">
        <ul id="social-media-menu" class="menu">
        {% for item in site.data.social %}
          <li><a href="{{ item.link }}">{{ item.name }}</a></li>
        {% endfor %}
        </ul>
      </div>				
    </div>
    <div class="site-footer__copyright">&copy; 2019 {{ site.title }}</div>
  </div>
</footer>