<article class="post-list__item post-list__item--tweet">
  <blockquote class="twitter-tweet" data-lang="en">
    <p class="author">
      <span class="name">Kathryn Haun</span>
      <span class="handle">
        <a href="https://twitter.com/katie_haun">@katie_haun</a>
      </span>
    </p>
    <p lang="en" dir="ltr">
      2/ We’re not investors in Kik, but the arguments Kik made in this process are interesting, because they are representative of how the entire industry is dealing with an emerging technology where it’s still unclear which regulations will apply and how.
    </p>		
  </blockquote>
</article>