---
layout: default
---
<div id="content" class="site-content sidebar--right">
  <main id="primary" class="content-area site-content__primary" role="main">
    <section class="home-section home-section--popular">
      <header class="home-section__header">
        <h2 class="home-section__title">Popular</h2>
      </header>
      <div class="post-list post-list--featured post-list--posts">
      {% for post in site.posts %}
      {% if post.popular %}
        {% include excerpt.html %}
      {% endif %}
      {% endfor %}
      </div>
    </section>
    <section class="home-section home-section--latest">
      <header class="home-section__header">
        <h2 class="home-section__title">Latest</h2>
        <a href="/posts" class="home-section__read-more">see all</a>
      </header>
      <div class="post-list post-list--posts">
      {% for post in site.posts %}
        {% include excerpt.html %}
      {% endfor %}
      </div>
    </section>
  </main>
  <aside id="secondary" class="site-content__secondary sidebar sidebar--home" role="complementary">
    {% include sidebar.html %} 
  </aside>
</div><!-- #content -->
